fastapi
uvicorn
authlib
google-auth
google-auth-oauthlib
PyJWT
psycopg2-binary
sqlalchemy
pyswisseph
timezonefinder
pytz
python-dateutil
pydantic
cryptography
Jinja2
requests
joblib
python-multipart
itsdangerous
pycryptodome
httpx
geopandas